
{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}">
</head>

<body onload="countdownTimeStart()">
    <script src="{% static 'timer_render.js' %}"></script>
    <div id="countdown">
        <svg>
          <circle r="80" cx="100" cy="95"></circle>
        </svg>
    </div>
    <p id="countdown_number"></p>
    <script src="{% static 'example.js' %}"></script>
    <div id="finish_session_button_div">
        <form action="finish" id="finish_session_button" method="GET">
            <button type="submit">finish session</button>
        </form>
    </div>
</body>

</html>

{% endblock content %}