{% load static %}
<!DOCTYPE html>
<html>
    
    
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" 
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/neugoiphone.png">
	<link rel="manifest" sizes="192x192" href="/static/neugoandroid.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/neugo32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/neugo16.png">
	<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
  
    <link rel="stylesheet" type="text/css" href="{% static 'blog/base/main1.css' %}">
    <link rel="stylesheet"  href="{% static 'blog/base/all.css' %}">
    <link rel="stylesheet"  href="{% static 'blog/base/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/timer/timernew.css' %}">

<!---
    <link href="{% static 'rewards/css/app/app.css' %}" rel="stylesheet">
    <link href="{% static 'rewards/css/vendor/all.css' %}" rel="stylesheet">
    
-->
    {% if title %}
    <title>Neugo - {{ title }}</title>
    {% else %}
    <title>Neugo</title>
    {% endif %}
<style>
body {
    /* font-family: 'Lato', sans-serif; */
}

.navbar .navbar-nav .nav-item{
    color: #212529;
    padding: 13px;
}

.navbar .navbar-nav .nav-item:hover, .navbar .navbar-nav .nav-item:active, .navbar .navbar-nav .nav-item:focus{
    color: #2f3841;
}

.left, .profile {
    display: flex;
}

.navbar .container .navbar-brand{
    color:#212529;
    font-weight:600;
    margin-right:5%;
}

button.navbar-toggler{
    background:	#00796B;
    color: #fff;
}

@media (max-width: 768px){
  .left, .profile{
      display: none
  }
}

#rows {
    margin-top: 10%;
}

@media (max-width: 481px){
    #rows {
        margin-top: 20%;
    }
  #navbarToggle {
    position: absolute;
    background: #dcdcdc;
    width: 100%;
    top: 100%;
  }

  .navbar .container .navbar-brand {
    margin-left: -5%;
  }

   .container .navbar-toggler {
    margin-left: 40%;
  }
}
</style>
 
</head>

<body class="bod">
    <header class="site-header">
        <nav class="navbar navbar-expand-md bg-neugo fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">
                <div>
                    <img src="/static/neugo3.png" width="100" height="30" />
                </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav mr-auto left">
                        {% if user.is_authenticated %}
                        <li class=”nav-item”><a class="nav-link" href="{% url 'blog-home' %}">Home &#x1F3E0</a> </li>
                        <li class=”nav-item”><a class="nav-link" href="{% url 'blog-map' %}">Study &#x1F4DD</a> </li>
                        <li class=”nav-item”><a class="nav-link" href="{% url 'blog-rewards' %}">Reward Yourself &#x1F389</a></li> 
                        {% endif %}
                    </ul>
                    <!-- Navbar Right Side -->
                    <ul class="navbar-nav pull-right right">
                        {% if user.is_authenticated %}
                        <li class=”nav-item”><a class=" nav-link profile" href="{% url 'profile' %}">Profile &#x1F392</a></li>
                        <li class=”nav-item”><a class="nav-link" href="{% url 'logout' %}">Logout &#x1F6AA</a></li>
                        {% else %}
                        <li class=”nav-item”><a class="nav-link" href="{% url 'login' %}">Login &#x1F6AA</a></li>
                        <li class=”nav-item”><a class="nav-link" href="{% url 'register' %}">Register &#x1F44B</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container" >
        <div class="row">
            <div class="col-12" id="rows" >
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %} {% endif %} 
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% include "blog/bottom_nav.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-1.8.0.js"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
