<style>
  .bottom_nav {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}
</style>

<div class="bottom_nav navbar navbar-expand-md navbar-dark bg-neugo">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarToggle">
      <div class="navbar-nav mr-auto">

        <a class="nav-item nav-link" href="/rewards/purchase_rewards/go_home/">Home 🏠</a>
        <a class="nav-item nav-link" href="/map/">Study 📝</a>
        <a class="nav-item nav-link" href="/rewards/">Reward Yourself 🎉</a>

      </div>
      <!-- Navbar Right Side -->
      <div class="navbar-nav">

        <a class="nav-item nav-link" href="/profile/">Profilejdjdjdjdjdj 🎒</a>
        <a class="nav-item nav-link" href="/logout/">Logout 🚪</a>

      </div>
    </div>
  </div>
</div>
