{% load static %}
<!DOCTYPE HTML>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/onboarding/onboardingnew.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'blog/onboarding/onboardingnew.js' %}"></script>
</head>
<body onload="showFinal()">
<div class="logo">
    <img src="/static/neugo3.png" width="130" height="40" />
</div>

<div class="container">
    <h1 class="landings">Welcome To Neugo!</h1>
    <span class="close"></span>

    <div class="slider-container" id="finishcon">
        <div class="slider-turn">
            <p id="p1" style="margin-left:0px;word-wrap:break-word;" >
                {{ request.session.first_name }} from {{ request.session.university }} studying {{ request.session.subject }}, correct?
            </p>

            <p id="p2" style="word-wrap:break-word;" >Okay {{ request.session.first_name }} we just need an email and password to get started...</p>

            <!-- sort dropdown dissapearing on slide 2/3-->

        </div>
        <div>
            <select class="dropdown" id="degreedropdown" style="display:none;" onchange="showFinal()">
                
            </select>
        </div>

        <div>
            <button class="nobtn" id="nobtn" type="button"  style="display:none;"
                onclick="window.location.href='/onboarding'">no</button>

        </div>

    </div>

    <div class="bottom" style="margin-left:0px">
        <form action="saveuni" id="save_profile_button" method="post" style="min-width:100%">
            <button class="btn4" id="yesbtn" type="button" style="min-width:100%;display:none;" onclick="showstart();smallMargin();">yes</button>
            <button class="btn4" onclick="window.location.href='/register'"  id="gobtn"  type="button" style="min-width:100%;display:none;" >GO</button>
        </form>
        <!-- <button class="btn4" onclick="window.location.href='/register'"  id="gobtn"  type="button" style="display:none;" >GO</button> -->
    </div>
</div>
<button class="open" onclick="window.location.reload();">Open</button>
</body>
