{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="col-xs-12 col-md-12 col-lg-12 item">
          <div class="timeline-block">
            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img src="{{ post.author.profile.image.url }}" width="60" height="70" id ="img" class="media-object"/>
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                    <a href="#">{{ post.author }}</a>

                    <span>{{ post.date_posted|date:"F d, Y" }}</span>
                  </div>
                </div>
              </div>

              <div class="panel-body">
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">Session location: UoM</a></h2>
                <p> time studied (s): </p>
                  <p class="article-content">{{ post.time_studied }}</p>
             </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
