{% load static %}
<!DOCTYPE HTML>
<html>

<head>


	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui=0">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="https://muzzleapp.com/favicons/manifest.json">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#bfa36d">
	<link rel="shortcut icon" href="/favicons/favicon.ico">
	<meta name="msapplication-config" content="https://muzzleapp.com/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- METAS -->
	<meta name="description" content="Neugo" />

	<title>Neugo - Improving student efficiency</title>
	<script type="text/javascript" src="{% static 'blog/landing/landing.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/landing/landing.css' %}">

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-101967468-1', 'auto');
		ga('send', 'pageview');

	</script>

</head>

<body class="front-page">
	<div class="site">
		<div class="center">
			<header>

				<img src="/static/neugo3.png" width="130" height="40" />

				<h1>Making Studying Simple</h1>
				<h2>A simple app to using machine learning to make studying more efficient.</h2>
				<div class="cta">
					<a href="/register-onboarding" class="material-button"></i> Lets Begin</span></a>

				</div><!-- /.cta -->

				<div class="supported">
					<h3>All you have to do is get to the library and let our algorithms take care of the rest.</h3>
					<!--<ul>
						<li><img src="/media/images/slack.png" width="25" height="25" /><span>Slack</span></li>
						<li><img src="/media/images/join-me.png" width="39" height="27" /><span>Join Me</span></li>
						<li><img src="/media/images/hangouts.png" width="27" height="28" /><span>Google Hangouts</span>
						</li>
						 <li><img src="/media/images/skype.png" width="27" height="27" /><span>Skype</span></li> 
						<li><img src="/media/images/zoom.png" width="27" height="27" /><span>Zoom</span></li>
						<li><img src="/media/images/bluejeans.png" width="26" height="22" /><span>BlueJeans</span></li>
					</ul>-->
				</div><!-- /.supported -->


				<p class="utility">
					<span><a onclick="openForm()">Contact: contact@neugo.com</a></span>
				</p>


				<div class="form-popup" id="myForm">
					<form action="/action_page.php" class="form-container">
						<h1>Reach out!</h1>
						<label for="email"><b>Email</b></label>
						<input type="text" placeholder="Enter Email" name="email" required>

						<label for="psw"><b>Message</b></label>
						<input type="password" placeholder="Enter Message" name="psw" required>

						<button type="submit" class="btn">Send</button>
						<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
					</form>
				</div>

				<script>
					function openForm() {
						document.getElementById("myForm").style.display = "block";
					}

					function closeForm() {
						document.getElementById("myForm").style.display = "none";
					}
				</script>

			</header>
			<div class="header-img">
				<img src="/static/img/undraw_studying_s3l7.svg" alt="">
			</div>
		</div><!-- /.center -->

		<footer>

			<div class="credit">

			</div><!-- /.credits -->


		</footer>


		<div class="notifications ready">
			<div class="notification loaded">
				<div class="notification-inner">
					<div class="notification-icon" style="background-image: url(&quot;/static/cal.ico&quot;);"></div>
					<div class="notification-body">
						<div class="notification-body-header">Cedrick</div>
						<div class="notification-body-content">Augy, do we even have a database</div>


					</div>
				</div>
			</div>

		</div>
	</div>
	</div><!-- /.notifications -->
	</div><!-- /.site -->



</body>

</html>
