{% load static %}
<!DOCTYPE HTML>
<html>

<head>


	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui=0">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="https://muzzleapp.com/favicons/manifest.json">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#bfa36d">
	<link rel="shortcut icon" href="/favicons/favicon.ico">
	<meta name="msapplication-config" content="https://muzzleapp.com/favicons/browserconfig.xml">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<meta name="theme-color" content="#ffffff">

	<!-- METAS -->
	<meta name="description" content="Neugo" />

	<title>Neugo - Improving student efficiency</title>
	<script type="text/javascript" src="{% static 'blog/Landing/landing.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/Landing/landing.css' %}">

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-101967468-1', 'auto');
		ga('send', 'pageview');

	</script>

</head>

<body class="front-page">
	<div class="site">
		<div class="center">
			<header>

				<img src="/static/neugo3.png" width="130" height="40" />

				<h1 style="line-height:140%;">Study Less.</br>Learn More.</h1>
				<h2>Join the free platform where you can learn better study habits directly from your peers.</h2>
				<div class="cta">
					<a href="/register-onboarding" class="material-button"></i> Lets Begin</span></a>
                     <h2 style="padding-top:5%;"><a href="/login/" style="color:#35aefa;font-weight:600;">Login</a></h2>
				
				</div><!-- /.cta -->

				<div class="supported">
					<!--<h3>Efficient studying made simple, building good study should be easy for everyone.</h3>-->
					<!--<ul>
						<li><img src="/media/images/slack.png" width="25" height="25" /><span>Slack</span></li>
						<li><img src="/media/images/join-me.png" width="39" height="27" /><span>Join Me</span></li>
						<li><img src="/media/images/hangouts.png" width="27" height="28" /><span>Google Hangouts</span>
						</li>
						 <li><img src="/media/images/skype.png" width="27" height="27" /><span>Skype</span></li> 
						<li><img src="/media/images/zoom.png" width="27" height="27" /><span>Zoom</span></li>
						<li><img src="/media/images/bluejeans.png" width="26" height="22" /><span>BlueJeans</span></li>
					</ul>-->
				</div><!-- /.supported -->


				<p class="utility">
					<span<><a href="mailto:helloneugo@mail.com">Contact: helloneugo@mail.com</a></span>
				</p>


				<div class="form-popup" id="myForm">
					<form action="/action_page.php" class="form-container">
						<h1>Reach out!</h1>
						<label for="email"><b>Email</b></label>
						<input type="text" placeholder="Enter Email" name="email" required>

						<label for="psw"><b>Message</b></label>
						<input type="password" placeholder="Enter Message" name="psw" required>

						<button type="submit" class="btn">Send</button>
						<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
					</form>
				</div>

				<script>
					function openForm() {
						document.getElementById("myForm").style.display = "block";
					}

					function closeForm() {
						document.getElementById("myForm").style.display = "none";
					}
				</script>

			<!-- 	<div class="header-img">
					<img src="/static/img/undraw_studying_s3l7.svg" alt="">
				</div>  -->
			</header>
		</div><!-- /.center -->

		<footer>

			<div class="credit">

			</div><!-- /.credits -->


		</footer>


		<div class="notifications ready">
			<div class="notification loaded">
				<div class="notification-inner">
					<div class="notification-icon" style="background-image: url('/static/cal.ico')"></div>
					<div class="notification-body">
						<div class="notification-body-header">Cedrick</div>
						<div class="notification-body-content">Augy, do we even have a database</div>



					</div>
				</div>
			</div>

		</div>
	</div>
	</div><!-- /.notifications -->
	</div><!-- /.site -->

		<section class="landing-learn">
			<div class="landing-div">
				<div>
					<span><svg class="svg-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
						<path
							d="M12.5.133a12.5 12.5 0 1 0 12.5 12.5A12.5 12.5 0 0 0 12.5.133zm-4.5 11a1 1 0 1 1 1 1 1 1 0 0 1-1-1zm7.352 5.356a4.083 4.083 0 0 1-2.852 1.046 4.083 4.083 0 0 1-2.852-1.046.5.5 0 0 1 .704-.711 3.426 3.426 0 0 0 4.296 0 .5.5 0 1 1 .703.71zM16 12.133a1 1 0 1 1 1-1 1 1 0 0 1-1 1z">
						</path>
					</svg></span>
					<h3>Learn from Your Peers</h3>
					<p>Customize your feed to learn how top students on your course and university solve problems and study for exams</p>
				</div>
				<div>
						<div><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-line"
								class="svg-inline--fa fa-chart-line fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path fill="currentColor"
									d="M496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM464 96H345.94c-21.38 0-32.09 25.85-16.97 40.97l32.4 32.4L288 242.75l-73.37-73.37c-12.5-12.5-32.76-12.5-45.25 0l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.63l22.62 22.62c6.25 6.25 16.38 6.25 22.63 0L192 237.25l73.37 73.37c12.5 12.5 32.76 12.5 45.25 0l96-96 32.4 32.4c15.12 15.12 40.97 4.41 40.97-16.97V112c.01-8.84-7.15-16-15.99-16z">
								</path>
							</svg></div>
						<h3>Personalized Progress Tracker</h3>
						<p>Improve your study patterns with real insight. We discover the optimum habits for your style by learning how you and your peers study</p>
				</div>
				<div>
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users" class="svg-inline--fa fa-users fa-w-20"
						role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
						<svg class="svg-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
							<path
								d="M10 4a3 3 0 1 1 3 3 3 3 0 0 1-3-3zm10 2a3 3 0 1 0-3-3 3 3 0 0 0 3 3zM6 6a3 3 0 1 0-3-3 3 3 0 0 0 3 3zm1 10.5V13a5.987 5.987 0 0 1 2.31-4.721A4.979 4.979 0 0 0 1 12v2.5A1.5 1.5 0 0 0 2.5 16H3v4.5A1.5 1.5 0 0 0 4.5 22h3A1.5 1.5 0 0 0 9 20.5v-1.55a2.505 2.505 0 0 1-2-2.45zM20 7a4.96 4.96 0 0 0-3.31 1.279A5.987 5.987 0 0 1 19 13v3.5a2.505 2.505 0 0 1-2 2.45v1.55a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V16h.5a1.5 1.5 0 0 0 1.5-1.5V12a5 5 0 0 0-5-5zm-2 9.5V13a5 5 0 1 0-10 0v3.5A1.5 1.5 0 0 0 9.5 18h.5v5.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V18h.5a1.5 1.5 0 0 0 1.5-1.5z">
							</path>
						</svg>
					</svg>
					<h3> Engaged Student Community</h3>
					<p>Challenge yourself and your friends by taking part in university wide and course specific challenges </p>
				</div>
			</div>
		</section>

		<section class="landing-fee">
			<div>
				<h4>Free for Students</h4>
				<p class="paragraph" style="text-align:center;font-weight:bold">As a Service for Educational Institutions:</p>
				<div class="landing-fee-desc">
					<div><img src="/static/img/check.svg" alt="check">Invaluable insights on student study habits</div>
					<div><img src="/static/img/check.svg" alt="check">Improve approach to teaching course material</div>
					<div><img src="/static/img/check.svg" alt="check">Find areas which students find interesting / challenging</div>
					<div><img src="/static/img/check.svg" alt="check">Innotive new ways to stay connected with and challenge students</div>
				</div>
			</div>
		</section>

		<section class="landing-contact">
			<div>
				<h4 style="font-size:20px;">Contact us now to stay connected to your students in a technologicaly evolving industry</h4>
				<button class="btn btn-primary"><a style ="color:white";href="mailto:helloneugo@mail.com">helloneugo@mail.com</a></button>
			</div>
		</section>

</body>

</html>
