
{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/timernew.css' %}">

</head>

<body onload="showtimer();" >
    <script src="{% static 'timer_rendernew.js' %}"></script>
    <div id="countdown" style="display:none;">
        <svg>
          <circle r="80" cx="100" cy="95"></circle>
        </svg>
    </div>
    <p id="countdown_number" style="display:none;">20:00</p>
    <script src="{% static 'examplenew.js' %}"></script>
    
    <div id="finish_session_button_div"style="display:none;" >
        <form action="finish" id="finish_session_button" method="GET">
            <button id="finishbtn" type="submit" style="background-color:#03a9f4;color:#FFFF;" class="btn btn-success">finish </button>
            <button id="pausebtn" type="submit" style="background-color:#ccc ;color:#FFFF;" class="btn btn-success">Pause</button>
          </form>
    </div>
</body>

</html>

{% endblock content %}