{% load static %}
<!DOCTYPE HTML>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/onboardingnew.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'blog/onboardingnew.js' %}"></script>
</head>
<div class="logo">
    <img src="/static/neugo3.png" width="130" height="40" />
</div>

<div class="container">
    <h1 class="landings">Welcome To Neugo!</h1>
    <span class="close"></span>

    <div class="slider-container">
        <div class="slider-turn">
            <p>
                Amazing! what degree are you studying then?
            </p>

          
            <!-- sort dropdown dissapearing on slide 2/3-->

        </div>
        <form id="uni_form" action="savesubject/" method="post">
            {% csrf_token %}
            <div>
                <select id="subjdrop" class="dropdown" name="subject">
                    <option>choose a subject
                    <option>
                    <option>Physics</option>
                    <option>Economics</option>
                    <option>Chemical Engineering</option>
                    <option>History</option>
                    <option>Psychology</option>
                </select>
        </form>

        <div>
            <select class="dropdown" id="degreedropdown" style="display:none;" onchange="showFinal()">
                
            </select>
        </div>

        <div>
            <button class="nobtn" id="nobtn" type="button" margin-left="800px;" style="display:none;"
                onclick="window.location.reload();">no</button>

        </div>

    </div>

    <div class="bottom" style="margin-left:-25px">
        <form action="saveuni" id="save_profile_button" method="post">
            <button id="subjbtn" class="btn4" form="uni_form" type="submit" >next</button>
            <button class="btn4" id="yesbtn" type="button" style="display:none;" onclick="showstart()">yes</button>
            <button class="btn4" id="gobtn" type="submit" style="display:none;">Go</button>
        </form>
        <!-- <button class="btn4" onclick="window.location.href='/register'"  id="gobtn"  type="button" style="display:none;" >GO</button> -->
    </div>
</div>
<button class="open" onclick="window.location.reload();">Open</button>