{% load static %}
<!DOCTYPE HTML>
<html>

<body>
    <p id="demo"></p>

    <script src="{% static 'load_rewards.js' %}"></script>
    <img src="/static/XOYO.png" id="img" />
    <img src="/static/queue_skip.png" id="img" />
    <img src="/static/free_coffee.png" id="img" />
    <img src="/static/nandos_chicken.png" id="img" />
    <select id="image" name="CarList">
        <option value="queue_skip">Sport's Night Queue Skip at Loop (10 points)</option>
        <option value="XOYO">XOYO Free Entry (10 points)</option>
        <option value="free_coffee.png">Union Cafe Lunch (10 points)</option>
        <option value="nandos_chicken.png">Nando's 10 Chicken Wings (10 points)</option>
    </select>
    <form action="purchase_rewards" method="GET">
        <button type="submit">get rewards</button>
    </form>
</body>

</html>