{% extends "blog/base.html" %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/timernew.css' %}">

</head>

<body>
  <p id="timerpara">
    Set your session length: <br>
    <form id="timerform" action='store_time/' method="post">
      {% csrf_token %}
      <input style="border-radius:5%;margin-left:1%;margin-top:5%;margin-bottom:1%;" type="time" id="sessionlength"
        name="sessionlength" step="900" value="00:60" />
    </form>
  </p>
  <p>
    <button type="submit" class="btn btn-success" id="sessionbtn" style="background-color:#4cf16e;color:#FFFF;"
      form="timerform"">Go</button>
  </p>
</body>

{% endblock content %}