{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/timernew.css' %}">
</head>

<body>
    <script src="{% static 'timer_rendernew.js' %}"></script>
    <div id="countdown">
        <svg>
          <circle r="80" cx="100" cy="95"></circle>
        </svg>
    </div>
    <p id="countdown_number">{{request.session.initial_time_string}}</p>
    <script src="{% static 'example.js' %}"></script>
    <script type="text/javascript">
        var time_string = "{{request.session.study_time}}";
        var time_int = parseInt(time_string, 10); 
        countdownTimeStart(time_int);
    </script>
    <div id="finish_session_button_div">
        <form  id="finish_session_button"> <!--took out action=finish() andtype submit from btn and method=get-->
            <button onclick="getComments()" id="finishbtn" type="button"style="background-color:#03a9f4;color:#FFFF;" class="btn btn-success">finish </button>
          </form>
    </div>
    <div id="finish_comment" style="display:none;">
    <div><h2 id="fin_comment" style="float:left;">{{ request.session.first_name }},how was your session? </h2></div>
    <textarea id="get_comment" class="commentBox" placeholder="Productive essay planning session!"></textarea>
     <button onclick="getComments()" id="finishbtn" type="button" style="background-color:#03a9f4;color:#FFFF;" class="btn btn-success">finish </button>
       
    </div>
</body>

{% endblock content %}