{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/timernew.css' %}">

</head>

<body>
    <script src="{% static 'timer_rendernew.js' %}"></script>
    <div id="countdown">
        <svg>
          <circle r="80" cx="100" cy="95"></circle>
        </svg>
    </div>
    <p id="countdown_number"">{{request.session.initial_time_string}}</p>
    <script src="{% static 'example.js' %}"></script>
    <script type="text/javascript">
        var time_string = "{{request.session.study_time}}";
        var time_int = parseInt(time_string, 10); 
        countdownTimeStart(time_int);
    </script>
    <div id="finish_session_button_div">
        <form action="finish" id="finish_session_button" method="GET">
            <button id="finishbtn" type="submit" style="background-color:#03a9f4;color:#FFFF;" class="btn btn-success">finish </button>
            <button id="pausebtn" type="submit" style="background-color:#ccc ;color:#FFFF;" class="btn btn-success">Pause</button>
          </form>
    </div>
</body>

{% endblock content %}