body {
    color: #333333;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
   /* background-color: #086fb4f5;*/
    background-color: #667db6;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.bg-neugo {
   background-color: #fafafa;
   border-radius: none;
}

.navbar-brand {
    background: none;
    display: flex;
    align-items: center;
}

.site-header .navbar-nav .nav-link {
    font-weight: 600;
    display: flex;
    align-items: center;
    background: none;
    color: #424242;
    
}

.site-header .navbar-nav .nav-link:hover {
    color: #cdcdcd;
   
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
   
}
/*fonts for feed */
@font-face {
    font-family: 'Comment'; /*a name to be used later*/
    src: url('/static/fonts/Urania-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'pointsdiv'; /*a name to be used later*/
    src: url('/static/fonts/Typold.otf'); /*URL to font*/
}
@font-face {
    font-family: 'number'; /*a name to be used later*/
    src: url('/static/fonts/Publica.otf'); /*URL to font*/
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    border: none !important;
    box-shadow: 0 0 6px #cdcdcd !important;
    margin-bottom: 10px;
}

#likebox{
    background-color:#eae7e79e;
    margin-top:0px;
    padding-top:0px;
    /*height: 0.157%;*/
    /* display: inline-block; */
    padding: 0px;
}

.article-title {
    color: #424242;
    font-family: comment;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
    color: #424242;
    font-family: number;
}

.article-img {
    height: 45px;
    width: 45px;
    margin-right: 16px;
}

@media (max-width: 481px) {

    .content-section {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    /* border-bottom: 1px solid #e3e3e3; */
    margin-top: 2px;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}



.account-heading {
    font-size: 2.5rem;
}
