{% extends "feed/feed.html" %}
{% block content %}
<html>

<head>
	<title>Neugo Webapp</title>
	
	<!-- css -->

</head>

<body>
{% for task in tasks %}
	<article class="media content-section">
	  <img class="rounded-circle article-img" src="{{ task.author.profile.image.url }}">
	  <div class="media-body">
		<div class="article-metadata">
		  <a class="mr-2" href="#">{{ task.user }}</a>
		  <small class="text-muted">{{ task.level }}</small>
		</div>
		<p class="article-content">{{ task.task }}</p>
	  </div>	
	  <!-- <div>   -->
		<!-- <form action="{% url 'choice' %}"> -->
		  <!-- Task: <input type="text"> -->
	      <!-- <input type="submit" value="Start Timer"> -->
		<!-- </form>	   -->
	  <!-- </div> -->
	  <span id="countdown" class="timer"></span>

	  <!-- <script> -->
	  <!-- var upgradeTime = "{{Task.time}}"; -->
	  <!-- var seconds = upgradeTime; -->
	  <!-- function timer() { -->
		<!-- var days        = Math.floor(seconds/24/60/60); -->
		<!-- var hoursLeft   = Math.floor((seconds) - (days*86400)); -->
		<!-- var hours       = Math.floor(hoursLeft/3600); -->
		<!-- var minutesLeft = Math.floor((hoursLeft) - (hours*3600)); -->
		<!-- var minutes     = Math.floor(minutesLeft/60); -->
		<!-- var remainingSeconds = seconds % 60; -->
		<!-- function pad(n) { -->
			<!-- return (n < 10 ? "0" + n : n); -->
		<!-- } -->
		<!-- document.getElementById('countdown').innerHTML = pad(days) + ":" + pad(hours) + ":" + pad(minutes) + ":" + pad(remainingSeconds); -->
		<!-- if (seconds == 0) { -->
			<!-- clearInterval(countdownTimer); -->
			<!-- document.getElementById('countdown').innerHTML = "Completed"; -->
		<!-- } else { -->
			<!-- seconds--; -->
		<!-- } -->
		<!-- } -->
		<!-- var countdownTimer = setInterval('timer()', 1000); -->
	<!-- </script> -->

	</article>
{% endfor %}


</body>
</html>


{% endblock content %}