{% load static %}
<!DOCTYPE HTML>
<html>

<body>
    <script src = "{% static 'load_rewards.js' %}"></script>
    <img src="/static/queue_skip.png" id='changeImage' />
    <select id="itemImage" name="itemImage">
        <option data-img="/static/queue_skip.png">Sport's Night Queue Skip at Loop (10 points)</option>
        <option data-img="/static/XOYO.png" }>XOYO Free Entry (10 points)</option>
        <option data-img="/static/free_coffee.png">Union Cafe Lunch (10 points)</option>
        <option data-img="/static/nandos_chicken.png">Nando's 10 Chicken Wings (10 points)</option>
    </select>
    <form action="finish" method="GET">
        <button type="submit">get rewards</button>
    </form>
</body>

</html>