{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}">
</head>

<body>
    <div id="countdown">
        <svg>
        <circle r="150" cx="50%" cy="50%"></circle>
        </svg>
    </div>
    <p id="demo"></p>
    <script src="{% static 'example.js' %}"></script>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <div>
        <form action="finish" id="finish_session_button" method="GET">
            <button type="submit">finish session</button>
        </form>
    </div>
</body>

</html>