{% load static %}
<!DOCTYPE HTML>

<head>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
  <link rel="stylesheet" href="{% static 'blog/onboarding.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  <link rel="stylesheet" href="{% static 'profile/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
</head>
<body>
  <script type="text/javascript" src="{% static 'blog/onboarding.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/script.js' %}"></script>
  <div class="wrapper">
    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg"
          alt="profile card">
      </div>
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">{{ request.session.first_name }} {{ request.session.second_name }}</div>
        <div class="profile-card__txt">{{ request.session.subject }} student at
          <strong>{{ request.session.university }}</strong></div>
        <div class="profile-card-loc">
          <span class="profile-card-loc__icon">
            <svg class="icon">
              <use xlink:href="#icon-location"></use>
            </svg>
          </span>
          <span class="profile-card-loc__txt">
            United Kingdom
          </span>
        </div>
        <div class="profile-card-inf">
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">1598</div>
            <div class="profile-card-inf__txt">Followers</div>
          </div>
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">65</div>
            <div class="profile-card-inf__txt">Following</div>
          </div>
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">123</div>
            <div class="profile-card-inf__txt">Articles</div>
          </div>
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">85</div>
            <div class="profile-card-inf__txt">Works</div>
          </div>
        </div>
        <div id="chart" style="width:500px; height:250px; margin:0 auto;">
          <canvas id="myChart" class="bodyb"></canvas>
          <script>
            var user_activity = {{ request.session.user_study_activity|safe }};
            var all_activity = {{ request.session.all_users_study_activity|safe }};
            var graph_labels = {{ request.session.graph_labels|safe }};
            showChart(user_activity, all_activity, graph_labels);
          </script>
        </div>
        <div class="profile-card__overlay js-message-close"></div>
        <div id="buttonbar">
          <button class="goalbtn goalbody a">Goal:--pts</button>
          <div class="progress">
            <div class="bar" id="bar" style="width:30%"></div>
          </div>
        </div>
      </div>

      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">

              <img
                src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg"
                alt="">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor</div>
              <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
                voluptate repellendus magni illo ea animi? </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img
                src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg"
                alt="">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
              <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
                voluptate repellendus magni illo ea animi?</div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>

        </div>
        <div class="blog-slider__pagination"></div>
      </div>



    </div>

  </div>
  </div>

</body>