{% load static %}
<!DOCTYPE HTML>

<head>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
  <link rel="stylesheet" href="{% static 'blog/Onboarding/onboarding.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  <link rel="stylesheet" href="{% static 'profile/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
</head>
<body>
  <script type="text/javascript" src="{% static 'blog/Onboarding/onboarding.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/Onboarding/script.js' %}"></script>
  <div class="wrapper">
    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
          alt="profile card">
      </div>
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">{{ request.session.first_name }} {{ request.session.second_name }}</div>
        <div class="profile-card__txt">{{ request.session.subject }} student at
          <strong>{{ request.session.university }}</strong></div>
        <div class="profile-card-loc">
          <span class="profile-card-loc__icon">
            <svg class="icon">
              <use xlink:href="#icon-location"></use>
            </svg>
          </span>
          <span class="profile-card-loc__txt">
            United Kingdom
          </span>
        </div>
        <div class="profile-card-inf">
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{ user.profile.wallet_points }}</div>
            <div class="profile-card-inf__txt">Wallet Points</div>
          </div>
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{ request.session.time_studied_this_week }}</div>
            <div class="profile-card-inf__txt">Points Earned this Week</div>
          </div>
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title"> 3 </div>
            <div class="profile-card-inf__txt">Class Rank</div>
          </div>
        </div>
        <div id="chart" style="width:500px; height:250px; margin:0 auto;">
          <canvas id="myChart" class="bodyb"></canvas>
          <script>
            var user_activity = {{ request.session.user_study_activity|safe }};
            var all_activity = {{ request.session.all_users_study_activity|safe }};
            var graph_labels = {{ request.session.graph_labels|safe }};
            showChart(user_activity, all_activity, graph_labels);
          </script>
        </div>
        <div class="profile-card__overlay js-message-close"></div>
        <div id="buttonbar">
          <button class="goalbtn goalbody a">Goal: {{request.session.daily_goal}} pts</button>
          <div class="progress">
            <div class="bar" id="bar" style="width:{{request.session.progress}}%"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
