{% load static %}

<!DOCTYPE HTML>

<head>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Profile</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  <link rel="stylesheet" href="{% static 'blog/onboardingfarm.css' %}">
  <link rel="stylesheet" href="{% static 'profile/stylefarm.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/neugoiphone.png">
  <link rel="manifest" sizes="192x192" href="/static/neugoandroid.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/neugo32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/neugo16.png">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <script type="text/javascript" src="{% static 'blog/onboarding.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/script.js' %}"></script>

  <div class="wrapper">
    <a href="/rewards/purchase_rewards/go_home"><img src="/static/left-arrow.png"
        style="top:2%;left:2%;bottom:1%;position:absolute;"></a>

    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="profile card">
      </div>

      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">{{ request.session.first_name }} {{ request.session.second_name }}</div>
        <div class="profile-card__txt">{{ request.session.subject }} student at
          <strong>{{ request.session.university }}</strong></div>
        <div class="profile-card-loc">



        </div>

        <div class="profile-card-inf">
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{ user.profile.wallet_points }}</div>
            <div class="profile-card-inf__txt">Wallet </div>
          </div>

          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{ request.session.time_studied_this_week }}</div>
            <div class="profile-card-inf__txt">Week</div>
          </div>

          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">3</div>
            <div class="profile-card-inf__txt"> Rank</div>
          </div>
        </div>
        <div>
        <div id="chart" style="width:500px; height:250px;float:left; margin:0 auto;">
          <canvas id="myChart" class="bodyb"></canvas>
          <script>
          var user_activity = {{ request.session.user_study_activity| safe }};
            var all_activity = {{ request.session.all_users_study_activity| safe }};
            var graph_labels = {{ request.session.graph_labels| safe }};
            showChart(user_activity, all_activity, graph_labels);
          </script>
        </div>
        <div>
        <button class="goalbtn goalbody a" style="margin-top:10%;border-width:0;float:right;font-size:9px;">Set weekly goal: --</button>
        </div>
        </div>  

        <div style="display:inline-block;" class="profile-card__overlay js-message-close"></div>
        <div id="buttonbar">
          
          <div>
          <div style="float:left;text-align:left">
          <div class="profile-card-inf__txt" style="margin-bottom:-1%;color:#5d5e5f69">THIS MONTH</div>
          <div class="profile-card-inf__title" style="color:#5d5e5ff5;font-size:20px;">{{ request.session.time_studied_this_week }}/goal</div> 
          </div>
          <div style="float:right;text-align:right">
          <div class="profile-card-inf__title">--</div> 
          <div class="profile-card-inf__txt" style="color:#35aefa;margin-top:-0.5%;">Set Montly Goal</div>          
          </div>
          </div>
          <div class="progress">
            <div class="bar" id="bar" style="width:number'{{request.session.progress}}%';"></div>
          </div>
          <div class="profile-card-inf__txt" style="text-align:left;">Neugo suggested daily goal: {{request.session.daily_goal}} pts</div>
          <!--<button class="goalbtn goalbody a" style="font-size:9px;">Goal (week): {{request.session.daily_goal}} pts</button>
          --></div>
        <br /><br />
        <!--competitions-->
        <h1 class="profile" id="competitions" style="text-align:left;">Competitions</h1>
        <hr style="float:left;"/>
        <br />
        <div class="comp1">
          <img src="/static/challenge1.png" class="leftimage">
          <div class="rightside">
            <h2 style="font-weight:500;">{{ request.session.degree }} babysteps challenge</h2>
            <p style="font-weight:200;">Earn 300 points in one week </p>
          </div>
          <div style="clear:both;"></div>
          <input type="button" name="CompButton" id="CompButton1" class="compbutton" value="Register"
            onclick="getJoined(this.id)">
        </div>
        <div class="comp2">
          <img src="/static/challenge3.png" class="leftimage">
          <div class="rightside">
            <h2 style="font-weight:500;">The {{ request.session.university }} challenge</h2>
            <p style="font-weight:200;">Earn 160 points in one day</pstyle="font-weight:200;">
          </div>
          <div style="clear:both;"></div>
          <input type="button" name="CompButton" id="CompButton2" class="compbutton" value="Register"
            onclick="getJoined(this.id)">
        </div>
        <div class="comp3">
          <img src="/static/challenge4.png" class="leftimage">
          <div class="rightside">
            <h2 style="font-weight:500;">The {{ request.session.university }} Rank Up challenge</h2>
            <p style="font-weight:200;">Be ranked in the top 5 for your degree once in January</p>
          </div>
          <div style="clear:both;"></div>
          <input type="button" name="CompButton" id="CompButton3" class="compbutton" value="Register"
            onclick="getJoined(this.id)">
        </div>
        <script>
          function getJoined(btnId) {
            if (btnId == "CompButton1") {
              document.getElementById("CompButton1").value = "Joined";
              document.getElementById("CompButton1").disabled = true;
            }
            else if (btnId == "CompButton2") {
              document.getElementById("CompButton2").value = "Joined";
              document.getElementById("CompButton2").disabled = true;
            }
            else if (btnId == "CompButton3") {
              document.getElementById("CompButton3").value = "Joined";
              document.getElementById("CompButton3").disabled = true;
            }
          }
        </script>
        <!--endofocmpetitions-->
        <br /><br />
        <!-- Awards -->
        <h1 class="profile" id="awards" style="text-align:left">Awards</h1>
        <hr />
        <br />
        <div id="mainawards">
          <div class="innerawards">
            <div class="awards blogBox moreBox">
              <div class="item">
                <img src="/static/brain.png" width="100">
              </div>
            </div>
            <div class="awards blogBox moreBox">
              <div class="item">
                <img src="/static/brain (5).png" width="100">
              </div>
            </div>
            <div class="awards blogBox moreBox">
              <div class="item">
                <img src="/static/brain (3).png" width="100">
              </div>
            </div>
            <div class="awards blogBox moreBox">
              <div class="item">
                <img src="/static/brain (4).png" width="100">
              </div>
            </div>
            <div class="awards blogBox moreBox">
              <div class="item">
                <img src="/static/ai (2).png" width="100">
              </div>
            </div>
            <div class="awards blogBox moreBox" style="display: none;">
              <div class="item">
                <img src="/static/ai (1).png" width="100">
              </div>
            </div>
            <div class="awards blogBox moreBox" style="display: none;">
              <div class="item">
                <img src="/static/ai.png" width="100">
              </div>
            </div>
            <div class="awards blogBox moreBox" style="display: none;">
              <div class="item">
                <img src="/static/trophy1.png" width="100">
              </div>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>
        <div id="loadMore">
          <a href="#">Show More</a>
        </div>
        <script>
          $(document).ready(function () {
            $(".item img").on('click', function (e) {
              $(this).css("opacity", "1");
              $(this).css("cursor", "default");
            });
            $(".moreBox").slice(0, 5).show();
            if ($(".blogBox:hidden").length != 0) {
              $("#loadMore").show();
            }
            $("#loadMore").on('click', function (e) {
              e.preventDefault();
              $(".moreBox:hidden").slice(0, 5).slideDown();
              if ($(".moreBox:hidden").length == 0) {
                $("#loadMore").fadeOut('slow');
              }
            });
          });
        </script>
        <!-- End Awards -->
      </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="{% static 'blog/scriptfarm.js' %}"></script>

  <script type="text/javascript" src="{% static 'blog/onboardingfarm.js' %}"></script>

  <script type="text/javascript" src="onboarding.js"></script>
</body>
