@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nixie+One");
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1200px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: 0%; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: 0%; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
    float: left; }
  .col-sm-1 {
    width: 8.3333333333%; }
  .col-sm-2 {
    width: 16.6666666667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.3333333333%; }
  .col-sm-5 {
    width: 41.6666666667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.3333333333%; }
  .col-sm-8 {
    width: 66.6666666667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.3333333333%; }
  .col-sm-11 {
    width: 91.6666666667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: 0%; }
  .col-sm-pull-1 {
    right: 8.3333333333%; }
  .col-sm-pull-2 {
    right: 16.6666666667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.3333333333%; }
  .col-sm-pull-5 {
    right: 41.6666666667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.3333333333%; }
  .col-sm-pull-8 {
    right: 66.6666666667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.3333333333%; }
  .col-sm-pull-11 {
    right: 91.6666666667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: 0%; }
  .col-sm-push-1 {
    left: 8.3333333333%; }
  .col-sm-push-2 {
    left: 16.6666666667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.3333333333%; }
  .col-sm-push-5 {
    left: 41.6666666667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.3333333333%; }
  .col-sm-push-8 {
    left: 66.6666666667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.3333333333%; }
  .col-sm-push-11 {
    left: 91.6666666667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
    float: left; }
  .col-md-1 {
    width: 8.3333333333%; }
  .col-md-2 {
    width: 16.6666666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.3333333333%; }
  .col-md-5 {
    width: 41.6666666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.3333333333%; }
  .col-md-8 {
    width: 66.6666666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.3333333333%; }
  .col-md-11 {
    width: 91.6666666667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: 0%; }
  .col-md-pull-1 {
    right: 8.3333333333%; }
  .col-md-pull-2 {
    right: 16.6666666667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.3333333333%; }
  .col-md-pull-5 {
    right: 41.6666666667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.3333333333%; }
  .col-md-pull-8 {
    right: 66.6666666667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.3333333333%; }
  .col-md-pull-11 {
    right: 91.6666666667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: 0%; }
  .col-md-push-1 {
    left: 8.3333333333%; }
  .col-md-push-2 {
    left: 16.6666666667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.3333333333%; }
  .col-md-push-5 {
    left: 41.6666666667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.3333333333%; }
  .col-md-push-8 {
    left: 66.6666666667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.3333333333%; }
  .col-md-push-11 {
    left: 91.6666666667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 {
    float: left; }
  .col-lg-1 {
    width: 8.3333333333%; }
  .col-lg-2 {
    width: 16.6666666667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.3333333333%; }
  .col-lg-5 {
    width: 41.6666666667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.3333333333%; }
  .col-lg-8 {
    width: 66.6666666667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.3333333333%; }
  .col-lg-11 {
    width: 91.6666666667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: 0%; }
  .col-lg-pull-1 {
    right: 8.3333333333%; }
  .col-lg-pull-2 {
    right: 16.6666666667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.3333333333%; }
  .col-lg-pull-5 {
    right: 41.6666666667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.3333333333%; }
  .col-lg-pull-8 {
    right: 66.6666666667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.3333333333%; }
  .col-lg-pull-11 {
    right: 91.6666666667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: 0%; }
  .col-lg-push-1 {
    left: 8.3333333333%; }
  .col-lg-push-2 {
    left: 16.6666666667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.3333333333%; }
  .col-lg-push-5 {
    left: 41.6666666667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.3333333333%; }
  .col-lg-push-8 {
    left: 66.6666666667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.3333333333%; }
  .col-lg-push-11 {
    left: 91.6666666667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl {
  display: none !important; }

@media (min-width: 1800px) {
  .container {
    width: 1570px; }
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }
  .col-xl-12 {
    width: 100%; }
  .col-xl-11 {
    width: 91.66666667%; }
  .col-xl-10 {
    width: 83.33333333%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-8 {
    width: 66.66666667%; }
  .col-xl-7 {
    width: 58.33333333%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-5 {
    width: 41.66666667%; }
  .col-xl-4 {
    width: 33.33333333%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-2 {
    width: 16.66666667%; }
  .col-xl-1 {
    width: 8.33333333%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-pull-11 {
    right: 91.66666667%; }
  .col-xl-pull-10 {
    right: 83.33333333%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-8 {
    right: 66.66666667%; }
  .col-xl-pull-7 {
    right: 58.33333333%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-5 {
    right: 41.66666667%; }
  .col-xl-pull-4 {
    right: 33.33333333%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-2 {
    right: 16.66666667%; }
  .col-xl-pull-1 {
    right: 8.33333333%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-push-11 {
    left: 91.66666667%; }
  .col-xl-push-10 {
    left: 83.33333333%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-8 {
    left: 66.66666667%; }
  .col-xl-push-7 {
    left: 58.33333333%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-5 {
    left: 41.66666667%; }
  .col-xl-push-4 {
    left: 33.33333333%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-2 {
    left: 16.66666667%; }
  .col-xl-push-1 {
    left: 8.33333333%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-offset-12 {
    margin-left: 100%; }
  .col-xl-offset-11 {
    margin-left: 91.66666667%; }
  .col-xl-offset-10 {
    margin-left: 83.33333333%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-8 {
    margin-left: 66.66666667%; }
  .col-xl-offset-7 {
    margin-left: 58.33333333%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-5 {
    margin-left: 41.66666667%; }
  .col-xl-offset-4 {
    margin-left: 33.33333333%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-2 {
    margin-left: 16.66666667%; }
  .col-xl-offset-1 {
    margin-left: 8.33333333%; }
  .col-xl-offset-0 {
    margin-left: 0; }
  .visible-xl {
    display: block !important; }
  table.visible-xl {
    display: table; }
  tr.visible-xl {
    display: table-row !important; }
  th.visible-xl, td.visible-xl {
    display: table-cell !important; }
  .visible-xl-block {
    display: block !important; }
  .visible-xl-inline {
    display: inline !important; }
  .visible-xl-inline-block {
    display: inline-block !important; }
  .hidden-xl {
    display: none !important; } }

/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xxs, col-xxs-push, hidden-xxs, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/
.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block,
.visible-xxs {
  display: none !important; }

@media (max-width: 600px) {
  .container {
    width: 1570px; }
  .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    float: left; }
  .col-xxs-12 {
    width: 100%; }
  .col-xxs-11 {
    width: 91.66666667%; }
  .col-xxs-10 {
    width: 83.33333333%; }
  .col-xxs-9 {
    width: 75%; }
  .col-xxs-8 {
    width: 66.66666667%; }
  .col-xxs-7 {
    width: 58.33333333%; }
  .col-xxs-6 {
    width: 50%; }
  .col-xxs-5 {
    width: 41.66666667%; }
  .col-xxs-4 {
    width: 33.33333333%; }
  .col-xxs-3 {
    width: 25%; }
  .col-xxs-2 {
    width: 16.66666667%; }
  .col-xxs-1 {
    width: 8.33333333%; }
  .col-xxs-pull-12 {
    right: 100%; }
  .col-xxs-pull-11 {
    right: 91.66666667%; }
  .col-xxs-pull-10 {
    right: 83.33333333%; }
  .col-xxs-pull-9 {
    right: 75%; }
  .col-xxs-pull-8 {
    right: 66.66666667%; }
  .col-xxs-pull-7 {
    right: 58.33333333%; }
  .col-xxs-pull-6 {
    right: 50%; }
  .col-xxs-pull-5 {
    right: 41.66666667%; }
  .col-xxs-pull-4 {
    right: 33.33333333%; }
  .col-xxs-pull-3 {
    right: 25%; }
  .col-xxs-pull-2 {
    right: 16.66666667%; }
  .col-xxs-pull-1 {
    right: 8.33333333%; }
  .col-xxs-pull-0 {
    right: auto; }
  .col-xxs-push-12 {
    left: 100%; }
  .col-xxs-push-11 {
    left: 91.66666667%; }
  .col-xxs-push-10 {
    left: 83.33333333%; }
  .col-xxs-push-9 {
    left: 75%; }
  .col-xxs-push-8 {
    left: 66.66666667%; }
  .col-xxs-push-7 {
    left: 58.33333333%; }
  .col-xxs-push-6 {
    left: 50%; }
  .col-xxs-push-5 {
    left: 41.66666667%; }
  .col-xxs-push-4 {
    left: 33.33333333%; }
  .col-xxs-push-3 {
    left: 25%; }
  .col-xxs-push-2 {
    left: 16.66666667%; }
  .col-xxs-push-1 {
    left: 8.33333333%; }
  .col-xxs-push-0 {
    left: auto; }
  .col-xxs-offset-12 {
    margin-left: 100%; }
  .col-xxs-offset-11 {
    margin-left: 91.66666667%; }
  .col-xxs-offset-10 {
    margin-left: 83.33333333%; }
  .col-xxs-offset-9 {
    margin-left: 75%; }
  .col-xxs-offset-8 {
    margin-left: 66.66666667%; }
  .col-xxs-offset-7 {
    margin-left: 58.33333333%; }
  .col-xxs-offset-6 {
    margin-left: 50%; }
  .col-xxs-offset-5 {
    margin-left: 41.66666667%; }
  .col-xxs-offset-4 {
    margin-left: 33.33333333%; }
  .col-xxs-offset-3 {
    margin-left: 25%; }
  .col-xxs-offset-2 {
    margin-left: 16.66666667%; }
  .col-xxs-offset-1 {
    margin-left: 8.33333333%; }
  .col-xxs-offset-0 {
    margin-left: 0; }
  .visible-xxs {
    display: block !important; }
  table.visible-xxs {
    display: table; }
  tr.visible-xxs {
    display: table-row !important; }
  th.visible-xxs, td.visible-xxs {
    display: table-cell !important; }
  .visible-xxs-block {
    display: block !important; }
  .visible-xxs-inline {
    display: inline !important; }
  .visible-xxs-inline-block {
    display: inline-block !important; }
  .hidden-xxs {
    display: none !important; } }

.modal-open {
  overflow: hidden; }

.bs-modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .bs-modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .bs-modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.428571429; }

.modal-body {
  position: relative;
  padding: 20px; }

.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

@-ms-viewport {
  width: device-width; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

/* 


/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */
 @font-face {
  font-family: "montserrat";
  
  src: url('/static/fonts/montserrat.otf'); }

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff"); }

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff"); }

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff"); }

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: normal;
  font-family: "montserrat"; }

h1, .h1 {
  font-family: "Nixie One", serif;
  font-size: 3.5831808em; }

h2, .h2 {
  font-size: 2.985984em; }

h3, .h3 {
  font-size: 28px;
  line-height: normal;
  font-weight: 100;
  margin-bottom: 10ldpx; }
  @media (max-width: 992px) {
    h3, .h3 {
      font-size: 24px; } }

h4, .h4 {
  font-size: 1.44em;
  font-weight: bold;
  margin-bottom: 10px; }

p {
  margin: 0; }

a {
  color: #000;
  -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1); }
  a:hover {
    color: black; }
  a.secondary {
    vertical-align: middle; }

.post-content p {
  margin-bottom: 50px; }

.post-content .wp-caption-text {
  color: #e7e6e6;
  text-align: center; }

.post-content .alginnone {
  float: none; }

.post-content .alignleft {
  float: left; }

.post-content .alignright {
  float: right; }

.post-content .aligncenter {
  margin: 0 auto; }

.post-content img {
  max-width: 100%;
  height: auto; }

.post-content .size-thumbnail {
  width: 25%;
  height: auto; }

.post-content .size-medium {
  width: 50%;
  height: auto; }

.post-content .size-full {
  width: 100%;
  height: auto; }

.post-content h3 {
  margin-bottom: 0px; }

* {
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: 16px/1.54em "montserrat";
  font-weight:100;
  color: #676767;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #FFF;
  overflow-x: hidden !important;
  width: 100vw;
  }
  body.no-scroll {
    overflow: hidden; }
  @media (max-width: 992px) {
    body {
      font-size: 12px; } }

.site {
  min-height: calc(100vh - 380px);
  width: 100vw;
  overflow-x: hidden; }

.jwplayer {
  background: transparent !important; }
  .jwplayer * {
    background: transparent !important;
    color: transparent !important; }

.contain {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 50px; }
  .contain.narrow {
    max-width: 960px;
    padding: 0 25px; }

.modals-hidden {
  display: none; }

.perma-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.v-center {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%); }

.v-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.v-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.screen {
  background-size: cover;
  background-position: center; }
  .screen-100 {
    height: 100vh !important; }
  .screen-75 {
    height: 75vh !important; }
  .screen-50 {
    height: 50vh !important; }
  @media (max-width: 480px) {
    .screen {
      height: auto !important; } }

.no-gutter {
  margin-left: 0px !important;
  margin-right: 0px !important; }
  .no-gutter > [class*='col-'] {
    padding-right: 0 !important;
    padding-left: 0 !important; }

.permacover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.left {
  float: left; }

.right {
  float: right; }

.logo {
  width: 55px;
  display: inline-block;
  cursor: pointer;
  overflow: visible; }
  .logo-wrap {
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotate(0deg) translateZ(0);
    display: block;
    height: 55px; }
  .logo svg {
    width: 100%;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    display: block; }
    .logo svg * {
      fill: #676767; }
    .logo svg .gold {
      fill: #dac297;
      -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
      -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
      -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
      transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1); }
  .logo.bark .logo-wrap {
    transform: rotate(-2.5deg) translateZ(0); }
  .logo.bark svg:last-child {
    transform: scale(1.13) translate(-1px, 0);
    transform-origin: center;
    z-index: 10;
    position: relative; }

.img-responsive {
  display: inline-block;
  max-width: 100%; }

nav {
  position: relative;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px 40px; }
  nav:after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: -50vw;
    right: -50vw;
    border-bottom: 1px solid gainsboro; }
  nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    overflow: hidden;
    text-align: right;
    height: 40px; }
    nav > ul li {
      display: inline-block;
      line-height: 1em;
      vertical-align: middle;
      height: 40px;
      line-height: 40px; }
      nav > ul li:first-child {
        position: absolute;
        left: 0; }
        nav > ul li:first-child a {
          display: block;
          margin-left: 0;
          margin-right: 15px; }
      nav > ul li:last-child a {
        margin-right: 0px; }
      nav > ul li a {
        text-decoration: none;
        font-size: 16px;
        margin: 0 10px;
        color: #a9a9a9; }
        nav > ul li a:hover {
          color: #dac297 !important; }
          nav > ul li a:hover span {
            color: #bf964c; }
        nav > ul li a.active-nav-item {
          position: relative;
          border-bottom: 2px solid rgba(218, 194, 151, 0.5); }
  @media (max-width: 500px) {
    nav {
      text-align: right; }
      nav > ul {
        position: relative;
        overflow: visible;
        margin-right: -25px;
        height: 20px; }
        nav > ul li {
          height: 20px;
          line-height: 20px; }
        nav > ul li:first-child {
          position: absolute;
          left: 0;
          transform: scale(0.75) translate(-15px, -10px);
          transform-origin: top left; }
      nav .logo-still {
        width: 45px;
        overflow: hidden; } }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 10px;
  color: #a9a9a9;
  font-size: 12px; }
  footer .credits {
    position: relative;
    padding-bottom: 20px; }
    footer .credits .credit {
      display: inline-block;
      font-size: 13px;
      line-height: 1em;
      max-width: 200px;
      margin: 0 25px 30px;
      text-align: right;
      vertical-align: top;
      width: 200px; }
      footer .credits .credit:last-child {
        text-align: left; }
        footer .credits .credit:last-child em {
          margin-bottom: 3px; }
        footer .credits .credit:last-child svg {
          position: relative;
          top: 12px; }
      footer .credits .credit strong {
        color: #9a9a9a;
        margin-bottom: 5px;
        font-size: inherit; }
      footer .credits .credit em {
        font-style: normal;
        margin-bottom: 10px;
        line-height: 1.25em; }
      footer .credits .credit a {
        display: block;
        margin: 0;
        font-size: 12px;
        font-weight: 500; }
        footer .credits .credit a:hover {
          color: #a9a9a9; }
        footer .credits .credit a > * {
          display: block; }
        footer .credits .credit a svg {
          display: inline;
          opacity: .6;
          transform-origin: top center;
          transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
          max-width: 125px; }
        footer .credits .credit a:hover svg {
          opacity: 1; }
    @media (max-height: 1100px) {
      footer .credits {
        padding-bottom: 10px; }
        footer .credits .credit {
          margin-bottom: 10px; } }
    @media (max-width: 991px) {
      footer .credits .credit {
        margin: 0 15px 30px; } }
    @media (max-width: 502px) {
      footer .credits .credit {
        display: block;
        margin: 0 auto 40px;
        text-align: center !important; }
        footer .credits .credit:last-child a {
          top: 5px; } }
  footer p {
    margin-bottom: 7px;
    line-height: 1em; }
    footer p.utility {
      font-size: 13px;
      font-weight: 600;
      color: #676767;
      margin-bottom: 10px; }
      footer p.utility > * {
        display: inline-block;
        padding: 0 5px; }
      footer p.utility a:hover {
         }
  footer a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 0 2.5px; }
    footer a.gold {
      color: #cdac71;
      font-size: 13px; }
    footer a:hover {
      color: #bf964c; }
    footer a i {
      margin-right: 5px; }
  footer .right {
    padding-right: 30px; }
  @media (max-width: 1500px) and (min-width: 992px) {
    footer {
      max-width: calc(100vw - 400px); } }
  @media (max-width: 991px) {
    footer {
      padding: 0 20px 20px;
      font-size: 9px;
      position: relative;
      top: 0;
      left: 0; }
      footer p {
        margin-bottom: 0px;
        font-size: 12px; }
        footer p:last-child {
          line-height: 1.5em;
          padding: 10px 25px 0;
          max-width: 325px;
          margin: 0 auto; }
      footer strong {
        display: none; } }
  @media (max-width: 374px) {
    footer {
      margin-top: -120px; } }
  @media (max-width: 991px) {
    footer .follow-developer {
      margin-bottom: 10px; } }

body:not(.front-page) .follow-developer {
  color: inherit;
  background: #dac297;
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  padding: 0 10px;
  height: 23px;
  line-height: 23px;
  border-radius: 5px;
  font-size: 12px;
  border-bottom: 1px solid #cdac71;
  margin-bottom: 5px;
  letter-spacing: .25px;
  box-shadow: 0px 2px 5px rgba(103, 103, 103, 0.25); }
  body:not(.front-page) .follow-developer:hover {
    background: #bf964c;
    color: #FFF;
    transform: scale(1.05);
    transform-origin: bottom center;
    border-bottom: 2px solid #9f7b39; }
  body:not(.front-page) .follow-developer:active {
    transform: scale(1); }
  @media (max-width: 991px) {
    body:not(.front-page) .follow-developer {
      margin-bottom: 20px; } }

i {
  display: inline-block; }

.avatar {
  display: inline-block;
  border-radius: 100%;
  background-size: cover;
  min-width: 25px;
  vertical-align: middle;
  background-position: center; }
  .avatar:after {
    padding-top: 100%;
    display: block;
    content: ''; }

  .header-img {
    position: absolute;
    top: 0;
    right: 50%;
  }

  a.material-button {
    text-decoration: none;
     padding: 20px 40px;
       display: flex;
    align-items: center;
  }

  .material-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.material-button::-moz-focus-inner {
    border: none;
}

/* Overlay */
.material-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.material-button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.material-button:hover,
.material-button:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-button:hover::before {
    opacity: 0.08;
}

.material-button:focus::before {
    opacity: 0.24;
}

.material-button:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.material-button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.material-button:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.material-button:disabled::before {
    opacity: 0;
}

.material-button:disabled::after {
    opacity: 0;
}

input[type="submit"],
.button {
   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(276deg, rgba(53,174,250,1) 0%, rgba(53,174,250,1) 65%);
  height: 68px;
  line-height: 70px;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #35AEFA;
  box-shadow: 0 2px 0 0 #35AEFA, 0 4px 10px 0 rgba(0, 0, 0, 0.1), ;
  border-radius: 3px;
  padding: 0 45px;
  font-weight: 700;
  position: relative; }
  input[type="submit"] span,
  .button span {
    position: relative;
    z-index: 2;
    transform: translateZ(0); }
  input[type="submit"] i,
  .button i {
    font-size: 40px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -10px; }
  input[type="submit"]:before,
  .button:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1); }
  input[type="submit"]:hover,
  .button:hover {
     color:#FFFFFF; }
    input[type="submit"]:hover:before,
    .button:hover:before {
      opacity: 1; }

input.btn,
button.btn {
  -webkit-appearance: none;
  border: none; }

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
  clear: both;
  display: block;
  font-size: 0;
  line-height: 1em; }
  .social-icons li {
    display: inline-block;
    margin: 0 10px; }
    .social-icons li:first-child {
      margin-left: 0px !important; }
    .social-icons li:last-child {
      margin-right: 0px !important; }
    .social-icons li a {
      color: #676767;
      display: block;
      font-size: 30px;
      line-height: 1em; }

.notifications {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 30px;
  pointer-events: none;
  display: none; }
  .notifications.ready {
    display: block;
    height: 100vh;
    overflow: hidden; }
  .notifications .notification {
    display: block;
    position: relative;
    height: 0;
    transform: translateX(calc(100% + 40px));
    transition: height 550ms cubic-bezier(0.23, 1, 0.32, 1), transform 550ms cubic-bezier(0.23, 1, 0.32, 1) 250ms, opacity 750ms cubic-bezier(0.23, 1, 0.32, 1); }
    .notifications .notification.loaded {
      height: 80px;
      transform: translateX(0); }
    .notifications .notification:nth-child(n+5) {
      transition: opacity 550ms cubic-bezier(0.23, 1, 0.32, 1) 150ms; }
    .notifications .notification:nth-child(5) {
      opacity: .75; }
    .notifications .notification:nth-child(6) {
      opacity: .6; }
    .notifications .notification:nth-child(7) {
      opacity: .45; }
    .notifications .notification:nth-child(8) {
      opacity: .3; }
    .notifications .notification:nth-child(9) {
      opacity: .15; }
    .notifications .notification:nth-child(n+10) {
      opacity: 0; }
    .notifications .notification.closed {
      transform: translateX(calc(100% + 40px));
      transition: height 550ms cubic-bezier(0.23, 1, 0.32, 1) 250ms, transform 550ms cubic-bezier(0.23, 1, 0.32, 1);
      height: 0; }
    .notifications .notification-inner {
      height: 70px;
      overflow: hidden;
      width: 370px;
      position: relative;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 9px;
      position: relative;
      margin-bottom: 20px;
      overflow: hidden; }
      .notifications .notification-inner:before, .notifications .notification-inner:after {
        display: block;
        content: "";
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .notifications .notification-inner:after {
        background: rgba(255, 255, 255, 0.64); }
      .notifications .notification-inner > * {
        position: relative;
        z-index: 1; }
    .notifications .notification.has-image .notification-body, .notifications .notification.has-actions .notification-body {
      padding-right: 100px; }
    .notifications .notification-icon {
      width: 33px;
      height: 33px;
      border-radius: 100%;
      background: #FFF;
      position: absolute;
      top: 50%;
      left: 17px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(0, -50%); }
      .notifications .notification-icon + .notification-body {
        padding-left: 60px; }
    .notifications .notification-body {
      height: 100%;
      color: #3D4B50;
      padding-right: 25px; }
      .notifications .notification-body-header {
        font: 600 13.5px/1em "San Francisco";
        letter-spacing: .45px;
        padding-top: 19px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .notifications .notification-body-content {
        font: 400 11.25px/1em "San Francisco";
        letter-spacing: .38px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 6px; }
    .notifications .notification-actions {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      font: 600 13.25px/35px "San Francisco";
      letter-spacing: .23px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 2;
      min-width: 80px; }
      .notifications .notification-actions > * {
        pointer-events: all;
        height: 50%;
        text-align: center;
        padding: 0 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
        cursor: pointer; }
        .notifications .notification-actions > *:hover {
          background: rgba(0, 0, 0, 0.05); }
    .notifications .notification-image {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 70px;
      z-index: 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
  @media (max-width: 991px) {
    .notifications {
      width: 430px;
      left: 50%;
      transform: translateX(-50%) scale(0.9);
      top: -10px;
      transform-origin: top center; }
      .notifications .notification:not(.closed):nth-child(n+3) {
        opacity: 0;
        transition: transform 550ms cubic-bezier(0.23, 1, 0.32, 1), opacity 750ms cubic-bezier(0.23, 1, 0.32, 1);
        transform: scale(0.5); }
      .notifications .notification.closed:not(.just-closed):nth-child(2) + .notification:not(.closed) {
        opacity: 1 !important;
        transform: scale(1) !important; }
      .notifications .notification.closed + .notification:not(.closed) {
        transform: scale(1);
        opacity: 1; }
        .notifications .notification.closed + .notification:not(.closed):nth-child(3) {
          opacity: 0;
          transform: scale(0.5); }
      .notifications .notification:nth-child(n+4) {
        opacity: 0 !important;
        transform: scale(0.5) !important; } }
  @media (max-width: 374px) {
    .notifications {
      transform: translateX(-50%) scale(0.8); } }

body.page-404 nav {
  margin-bottom: 50px; }

body.page-404 .content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }
  body.page-404 .content > p {
    max-width: 600px;
    margin: 0 auto; }
  body.page-404 .content h1 {
    margin-bottom: 30px;
    text-align: center; }
  body.page-404 .content .action {
    text-align: center;
    padding-top: 20px; }
    body.page-404 .content .action strong {
      margin: 0 0 15px;
      display: block; }
    body.page-404 .content .action p:last-child {
      padding-top: 15px;
      opacity: .75; }

@media (max-width: 991px) {
  body.page-404 .contain {
    padding: 0 20px; }
  body.page-404 p {
    display: inline; }
  body.page-404 .content {
    max-width: 280px; }
  body.page-404 .action p {
    display: block; } }

body.front-page .site {
  min-height: 100vh;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }
  body.front-page .site a {
    cursor: pointer; }

body.front-page .center {
  position: relative;
  height: 100vh;
  width: 100vw; }
  @media (max-width: 1500px) {
    body.front-page .center {
      width: calc(100vw - 215px); } }
  @media (max-width: 1500px) {
    body.front-page .center {
      width: calc(100vw - 400px); } }
  @media (max-width: 991px) {
    body.front-page .center {
      width: 100vw;
      height: auto; } }

body.front-page header {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 525px;
  margin-top: -262px;
  margin-left: -220px;
  max-width: 440px;
  text-align: center;
  color: #8f8f8f;
  transform: translateY(-150px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body.front-page header > * {
    cursor: default; }
  body.front-page header .logo {
    margin-bottom: 40px;
    position: relative;
    left: 5px; }
  body.front-page header h1 {color: #100f0f;font-family: "montserrat";font-weight: bold !important;margin-bottom: 30px;margin-top: 10px;}
  body.front-page header h2 {
    }
  body.front-page header h3 {
    font: 14px/1.3em "San Francisco";
    opacity: .8;
    max-width: 355px;
    margin: 0 auto 45px; }
    body.front-page header h3 em {
      font-style: normal; }
    body.front-page header h3 strong {
      font-size: 15px;
      font-weight: 500;
      color: #cdac71;
      display: block; }
  body.front-page header .cta {
    margin: 30px 0;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    body.front-page header .cta .button {
      display: block;
      position: relative;
      z-index: 2;
      text-align: center;
      width: 232px; }
    
    body.front-page header .cta:hover .button {
      transform: scale(1.01) translateZ(0) translateY(-2px);
      transform-origin: center bottom;
      box-shadow: 0 4px 0 0 #8EBE9B, 0 4px 10px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 1px #FFFFFF; }
    body.front-page header .cta:active .button {
      transform: scale(1) translateZ(0) translateY(0px);
      box-shadow: 0 2px 0 0 #8EBE9B, 0 4px 10px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 1px #FFFFFF; }
    body.front-page header .cta + p {
      font-size: 12px;
      transform: translateY(0px);
      position: relative;
      z-index: 2; }
      body.front-page header .cta + p > * {
        padding: 0 30px;
        float: none; }
      body.front-page header .cta + p a {
        color: #cdac71;
        text-decoration: none; }
  body.front-page header .supported {
    padding-top: 60px; }
    body.front-page header .supported h3 {
      display: block;
      font-weight: 400;
      margin-bottom: 15px; }
    body.front-page header .supported ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      overflow: visible; }
      body.front-page header .supported ul li {
        display: inline-block;
        height: 40px;
        position: relative;
        vertical-align: middle;
        line-height: 40px;
        text-align: center;
        margin: 0 5px; }
        body.front-page header .supported ul li:hover img {
          filter: grayscale(0);
          opacity: 1; }
        body.front-page header .supported ul li img {
          max-width: 100%;
          filter: grayscale(1);
          transform: translateZ(0);
          -webkit-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          -o-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          -webkit-backface-visibility: hidden;
          opacity: .4; }
        body.front-page header .supported ul li span {
          position: absolute;
          display: block;
          line-height: 1em;
          left: 50%;
          bottom: 0;
          font-size: 12px;
          -webkit-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          -o-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
          opacity: 0;
          transform: translate(-50%, -10px);
          pointer-events: none;
          -webkit-backface-visibility: hidden; }
        body.front-page header .supported ul li:hover span {
          opacity: 1;
          transform: translate(-50%, 5px); }
  body.front-page header .utility {
    padding: 17px 0;
    position: relative;
    z-index: 1;
    }
    body.front-page header .utility strong {
      color: #9a9a9a;
      margin-bottom: 5px;
      font-size: inherit; }
    body.front-page header .utility em {
      font-style: normal;
      margin-bottom: 10px;
      line-height: 1.25em; }
    body.front-page header .utility a {
      display: inline-block;
      text-decoration: none;
      color: #35AEFA;
      font-size: 17px;
      font-weight: 600;
      }
      body.front-page header .utility a:hover {
        color: #bf964c; }
    body.front-page header .utility span {
      display: block;
      vertical-align: top;
      width: 200px;
      margin: 0 auto;
      text-align: center; }
    @media (max-width: 991px) {
      body.front-page header .utility span {
        margin-bottom: 10px; } }
  @media (max-width: 991px) {
    body.front-page header {
      max-width: 100%;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      padding-top: 175px;
      transform: none;
      height: auto;
      margin-bottom: 50px; }
      body.front-page header .logo {
        transform: scale(0.85);
        transform-origin: bottom center;
        margin-bottom: 10px; }
      body.front-page header h1 {
        font-size: 48px; }
      body.front-page header h2 {
        font-size: 16px;
        max-width: 280px;
        margin: 0 auto 10px; }
      body.front-page header h3 {
        font-size: 12px;
        margin-bottom: 20px;
        max-width: 290px; }
        body.front-page header h3 > strong {
          font-size: inherit; }
      body.front-page header .supported {
        padding: 30px 0;
        margin-bottom: -20px; } }
  @media (max-width: 374px) {
    body.front-page header {
      transform: scale(0.8);
      transform-origin: top center; } }

@media (max-height: 900px) and (min-width: 991px) {
  body.front-page .center {
    height: auto; }
  body.front-page header {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 140px;
    transform: none;
    padding-top: 30px; }
  body.front-page .credits {
    padding-top: 30px;
    margin: 0 0 30px; }
  body.front-page footer {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding-top: 30px; } }

body.default {
  color: #1976D2; }
  body.default.support section h2 {
    font-weight: bold; }
  body.default.support section h3 {
    font-weight: bold; }
  body.default .site {
    min-height: 100vh;
    padding-bottom: 300px;
    position: relative; }
  body.default section {
    position: relative;
    max-width: 750px;
    padding: 0px 25px 150px;
    margin: 0 auto; }
    body.default section * {
      max-width: 100%; }
    body.default section article {
      padding-bottom: 50px;
      position: relative; }
      body.default section article:after {
        content: "";
        display: block;
        position: absolute;
        left: -25px;
        right: -25px;
        bottom: 0px;
        border-bottom: 1px solid rgba(169, 169, 169, 0.25); }
      body.default section article:last-of-type {
        padding-bottom: 0px; }
        body.default section article:last-of-type:after {
          display: none; }
    body.default section h1,
    body.default section h2 {
      font-family: "San Francisco";
      font-size: 24px;
      margin-bottom: 20px;
      padding-top: 50px; }
      body.default section h1 + h2,
      body.default section h2 + h2 {
        padding-top: 0px; }
    body.default section h1 {
      font-size: 40px;
      margin-bottom: 50px;
      font-weight: bold;
      text-align: center; }
    body.default section h2 {
      color: #1976D2; }
    body.default section h3 {
      font-size: 20px;
      font-weight: 500;
      margin: 30px 0 35px; }
    body.default section h5 {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: bold; }
    body.default section p {
      font-size: 16px;
      line-height: 1.65em;
      margin-bottom: 25px;
      color: #1976D2; }
      body.default section p + h2 {
        margin-top: -25px; }
      body.default section p:last-child {
        margin-bottom: 0px; }
    body.default section img {
      display: block;
      margin-bottom: 40px; }
    body.default section ol,
    body.default section ul {
      padding-left: 20px;
      margin-bottom: 40px; }
      body.default section ol li,
      body.default section ul li {
        padding-left: 0px;
        margin-top: 10px; }
    body.default section ol {
      padding-left: 15px; }
      body.default section ol li {
        padding-left: 10px;
        margin-bottom: 15px; }
    body.default section a {
      color: #cdac71;
      text-decoration: none; }
      body.default section a:hover {
        color: #bf964c; }
    @media (max-width: 500px) {
      body.default section h1 {
        font-size: 25px;
        margin-bottom: 20px; }
      body.default section h2 {
        font-size: 20px;
        padding-top: 30px;
        margin-bottom: 10px; }
      body.default section h3 {
        font-size: 18px;
        margin-bottom: 20px; }
      body.default section h5 {
        font-size: 14px;
        font-weight: bold; }
      body.default section p {
        font-size: 13px; } }
  body.default footer {
    max-width: 100% !important;
    position: absolute !important;
    top: auto; }



    body {font-family: "montserrat", sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #35AEFA;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(209, 185, 185);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.landing-learn{
  background: #3297fb;
  color: white;
  font-family: "montserrat";
}

.landing-div {
   width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-gap:3rem;
    grid-template-columns: repeat(3, 1fr);
}

.landing-fee {
    padding: 3rem;
}

.landing-div h3 {
  font-weight: 600 !important;
}

.landing-fee h4 {
  color: black;
  font-size: 42px;
  line-height: 1.5;
}

.landing-div p {
  font-size: 19px;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  color:#d3e4fe;
}

p.paragraph {
  font-size: 25px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 10px;
}

.landing-div div {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.landing-learn svg{
  fill: white;
  height: 3rem;
  margin-bottom: 2rem;
}

.landing-fee > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.landing-fee-desc div {
  display: flex;
  margin-bottom: 20px;
  font-size: 19px;
}

.landing-fee-desc div  img{
  margin-right: 1rem;
}

.landing-contact {
  background-color: #393939;
  text-align: center;
  color: white;
}

.landing-contact div {
  font-size: 40px;
  line-height: 1.38;
  width: 70vw;
  margin: 0 auto;
}

section {
  padding: 115px 0;
  overflow: hidden;
  position: relative;
}

.landing-contact .btn {
  background: #2C8AE1;
  max-width: 30rem;
  color: white;
  padding: 1rem 4rem;
  font-size: 19px;
}

@media screen and (max-width: 820px) {
  .landing-contact div {
      font-size: calc(105% + 5.3vw);
  }
}


@media (max-width: 481px) {
  .landing-div {
    display: grid;
    padding: 1rem;
    grid-gap:3rem;
    grid-template-columns: auto; 
  }

  .landing-div h3{
    font-size: 20px;
    text-align:center;
  }

  .landing-div p {
    font-size: 15px;
  }

  .landing-learn svg {
    height: 2rem;
  }

  .landing-fee h4 {
    font-size: 30px;
  }

  p.paragraph {
    font-size: 16px;
  }

  .landing-fee-desc div {
    font-size: 14px;
  }

.landing-contact div {
    width: 100%
  }
}
