body {
  background: white !important;
}

.register-row {
  padding-top: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.landings {
  font-size: 22px;
}

.register-row p {
  margin-left: 15px;
}

.authentication {
  box-shadow: 0 0 17px #cdcdcd;
  font-size: 14px;
  margin-top: 30px;
}

.login {
  padding: 20px 0;
}

.custom-file-control:invalid, .form-control:invalid, .custom-file-control:read-only, .form-control:read-only {
    background-image: none !important;
}

.login legend {
  text-align: center;
  padding-bottom: 16px;
  font-weight: 400;
}

.steps {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}

.steps__text{
  font-size: 14px;
  margin: 10px 0;
}

.register-buttons{
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  grid-gap: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .register-buttons{
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  }
}

@media (max-width: 481px) {
  .authentication{
     box-shadow: none;
  }
}

.btn-register {
    position: relative;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: #43CBCC;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.btn-register::-moz-focus-inner {
    border: none;
}

/* Overlay */
.btn-register::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.btn-register::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.btn-register:hover,
.btn-register:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-register:hover::before {
    opacity: 0.08;
}

.btn-register:focus::before {
    opacity: 0.24;
}

.btn-register:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.btn-register:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-register:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.btn-register:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.btn-register:disabled::before {
    opacity: 0;
}

.btn-register:disabled::after {
    opacity: 0;
}
